<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | CookBook by Cezik</title>
  </head>
  <body>
      <h1>Contact page of Cookbook</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac dignissim elit, quis auctor odio. In vestibulum, metus nec ornare molestie, urna leo aliquam sapien, ac aliquet augue ex ullamcorper nulla. Cras aliquet porttitor leo, non lacinia neque porttitor vitae. Donec mattis dictum quam eu cursus. Mauris sit amet efficitur leo. Nunc vitae ante nunc. Nulla facilisi. Integer tempor elit ac tellus faucibus, ac hendrerit ipsum rhoncus. Nulla molestie rhoncus felis eget ornare. Integer eros sapien, varius id mollis sed, suscipit vel sem. Maecenas vestibulum vestibulum sapien sit amet fermentum. Praesent aliquam leo felis, sit amet molestie diam faucibus nec. Nam malesuada vehicula pulvinar. Phasellus id mauris molestie, pretium purus sit amet, egestas nulla. Phasellus fermentum consequat odio eu posuere.</p>
  </body>
</html>
