<% provide(:title, t('activerecord.models.recipes')) %>
<div class="row">
  <div class="col-md-3 col-sm-offset-4">
    <h1><%= t('activerecord.models.recipes') %></h1>
    <hr/>

    <hr/>
  </div>
</div>
