<% @foodcategory.recipes.reject(&:new_record?).each do |f| %>
  <div>
    <strong><%= link_to f.title, food_category_recipe_path(@foodcategory.id, f.id) %></strong>
  </div>
<% end %>
<hr/>
<%= link_to t('menu_links.food_category_page'), food_category_index_path %>
