<footer class="footer">
  <small>
    The CookBook by <a href="mailto:czepek221@gmail.com">Cezik</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
