<footer class="footer">
  <small>
    The CookBook by <a href="mailto:czepek221@gmail.com">Cezik</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('menu_links.about_page'), static_pages_about_url %></li>
      <li><%= link_to t('menu_links.contact_page'), static_pages_contact_url %></li>
    </ul>
  </nav>
</footer>
